#titulo{
    display: flex;
    color: white;
    display: flex;
    margin-left: 40%;
    color: white;
}
#listdehab{
    color: white;
}

#table{
    display: flex;
    color: white;
    background-color: darkblue;

}

body{
    background-image: url(gotham.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}

gotham.jpg{
    width: 100%;
}